:root {
  background-color: #282c34;
  color: #fff;

  --primary-color: #282c34;
  --dark-color: #333333;
  --light-color: #b8c2d4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  padding: 1rem 2rem;
}

/* Navbar */
.navbar {
  display: block;
  text-align: center;
  height: 4rem;
  background-color: #000000;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  /* font-size: 2rem; */
}

.navbar ul {
  text-align: center;
  justify-content: center;
}

.navbar a:hover {
  color: var(--dark-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  opacity: 0.9;
  margin-bottom: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

.app-header > .title {
  display: flex;
  height: 100%;
  width: max-content;
  align-items: center;
  color: #fff;
  padding: 0 1rem;
  font-size: 2rem;
}

.searchBar {
  display: flex;
  height: 100%;
  width: max-content;
  width: 50%;
  align-items: center;
  color: #fff;
  padding: 1rem 0;
  margin: 0 auto;
}
input {
  width: -webkit-fill-available;
  height: 2rem;
  border-radius: 3rem;
  padding: 0 1rem;
  font-size: 1rem;
  caret-color: #8d9393;
  background-color: var(--light-color);
}

.movieContainer {
  height: 20rem;
  background-color: #b8c2d4;
  display: -webkit-box;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.movieContainer::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

.movieItem {
  width: 15rem;
  /* background-color: #282c34; */
  margin: 0.5rem;
}

.about-container {
  color: #fff;
  float: right;
  position: absolute;
  right: 2rem;
  font-size: 1rem;
}
